
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #3e4551"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About the Brand</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">About our brand (?)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Why choose our brand (?)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sustainability</a>
            </li>
            <li>
              <a href="#!" class="text-white">Mobile Application</a>
            </li>
          </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Seller's Guide </h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">How it works</a>
              </li>
              <li>
                <a href="#!" class="text-white">List an Item</a>
              </li>
              <li>
                <a href="#!" class="text-white">Guide to sell faster</a>
              </li>
              <li>
                <a href="#!" class="text-white">Our Brand Fees</a>
              </li>
              <li>
                <a href="#!" class="text-white">Refunds & Disputes </a>
              </li>
              <li>
                <a href="#!" class="text-white">Seller's FAQ </a>
              </li>
              <li>
                <a href="#!" class="text-white">Pro Seller </a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Buyer's Guide </h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">How to buy</a>
              </li>
              <li>
                <a href="#!" class="text-white">How offers work</a>
              </li>
              <li>
                <a href="#!" class="text-white">How to shop safetly</a>
              </li>
              <li>
                <a href="#!" class="text-white">Refunds & Disputes</a>
              </li>
              <li>
                <a href="#!" class="text-white">Buyer's FAQ</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Legal</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cookies (?)</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      
      <hr class="mb-4" />

      <!-- Section: Social media -->
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-facebook-f"></i
          ></a>

        <!-- Twitter -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-twitter"></i
          ></a>

        <!-- Google -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-google"></i
          ></a>

        <!-- Instagram -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-instagram"></i
          ></a>

        <!-- Linkedin -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-linkedin-in"></i
          ></a>

        <!-- Github -->
        <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           ><i class="fab fa-github"></i
          ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  </footer>